<%- include('partials/_header') %>
<div class="container">
    <div class="row">
        <div class="col-md-5 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <form action="/edit/<%= registro._id%>" method="POST">
                        <div class="form-group">
                            <input type="text" name="name" placeholder="Nombre del estudiante"  class="form-control" value="<%= registro.name%>">
                        </div>
                        <div class="form-group">
                            <input type="text" name="pay" placeholder="50Bs"  class="form-control" value="<%= registro.pay%>">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">
                            Editar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('partials/_footer') %>