
<%- include('partials/_header') %>

    <div  class="container">
        <div class="row">
            <!--Formulario-->
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <form action="/registrar" method="POST">
                            <div class="form-group">
                                <input type="text" name="name" placeholder="Nombre y Apellido del estudiante"  class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" name="pay" placeholder="50Bs"  class="form-control">
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">
                                Registrar
                            </button>
                        </form>
                    </div>

                </div>
            </div>
            <!--listado-->
            <div class="col-md-7">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>N°</th>
                            <th>Nombre y Apellido</th>
                            <th>Monto Pago</th>
                            <th>Operacion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i=0; i < registros.length; i++) {%>
                            <tr>
                                <td><%= i+1 %></td>
                                <td><%= registros[i].name %></td>
                                <td><%= registros[i].pay %></td>
                                <td>
                                    <a href="/edit/<%= registros[i]._id%>" class="btn btn-info">Editar</a>
                                    <a href="/delete/<%= registros[i]._id %>" class="btn btn-danger">Eliminar</a>
                                </td>
                            </tr>
                        <% } %>   
                    </tbody>
                </table>

            </div>
        </div>
    </div>

<%- include('partials/_footer') %>